.header {
  font-family: $headers-font;
}

.container {
  padding: 0 200px 0 280px;
    width: 100%;
    max-width: 1440px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}

.menu ul {
  list-style: none;
  padding-left: 0;
    a {
      color: $darkgrey;
      text-decoration: none;
    }
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.menu li {
    display: inline;
    line-height: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
    height: 100px;
    margin: 0 20px 0 0;
}

.name h1 {
    color: #000;
    font-size: 18px;
    line-height: 100px;
    height: 100px;
    margin: 0;
    text-align: right;
    font-weight: 500;
}


.jumbotron {
    background: url(https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80) center center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
  }

.main .container {
  margin: 80px 0;
}

.jumbotron .container {
    max-width: 100%;
}

.home h2 {
    color: #fff;
}

.main h2 {
    font-size: 48px;
    line-height: 56px;
    text-align: right;
}

.highlight {
    background-color: #eaeff4;
    color: #000;
    padding: 0 10px 0;
}

.footer {
  background-color: #fff;
  height: 150px;
  text-align: right;
  width: 100%;
  margin-top: 50px;

    ul {
      list-style: none;
      padding-left: 0;
    }
}

.footer .profiles {
    margin: 65px 0 20px;
    width: 100%;
}

// .profiles li {
//     display: inline-block;
//     height: 24px;
//     margin: 0 0 0 10px;
//     text-align: left;
//     text-indent: -9999px;
//     width: 24px;
// }
//
// .profiles li a {
//     display: block;
//     height: 24px;
//     width: 24px;
// }
//
// .github {
//     background-image: url(/Users/lennartjensen/code/lennsen/rails-simple-portfolio/app/assets/images/github-brands.svg);
//     background-position: center center;
// }
//
// .linkedin {
//     background-image: url(/assets/images/linkedin-in-brands.svg);
//     background-position: center center;
// }
//
// .twitter {
//     background-image: url(/assets/images/twitter-brands.svg);
//     background-position: center center;
// }

.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.6;
}
