<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
        <ul>
          <li>
            <a href="/">Welcome</a>
          </li>
          <li>
            <a href="#">Portfolio</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="name col-xs-4">
        <h1>John Doe</h1>
      </div>
    </div>
  </div>
</div>

<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>Hey. My name is <span class="highlight">John Doe</span> and I write code.</h2>
      <a class="btn right" href="#">View my work</a>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <!-- <ul class="profiles"> -->
      <div class="footer-links">
   <a href="#"><i class="fab fa-instagram"></i></a>
   <a href="#"><i class="fab fa-facebook"></i></a>
   <a href="#"><i class="fab fa-twitter"></i></a>
 </div>
      <!-- <li>
        <a class="github" href="#">github</a>
      </li>
      <li>
        <a class="linkedin" href="#">linkedin</a>
      </li>
      <li>
        <a class="twitter" href="#">twitter</a>
      </li>
    </ul> -->
    <p>© 2020 John Doe</p>
  </div>
</div>
